---
name: Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit

  prepare-release:
    needs: [build]
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      prs_created: ${{ steps.release.outputs.prs_created }}
      version: ${{ steps.release.outputs.version }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.RELEASE_PAT }}
          release-type: node

  release:
    needs: [prepare-release]
    runs-on: ubuntu-latest
    if: ${{ needs.prepare-release.outputs.release_created == 'true' }}
    steps:
      - name: Trigger npm publish
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.RELEASE_PAT }}
          event-type: npm-publish-release
          client-payload: '{"tag": "latest-rc"}'

  test-release:
    uses: ./.github/workflows/run-e2e-tests.yml
    needs: [prepare-release, release]
    with:
      channel: ${{ needs.prepare-release.outputs.version }}
    secrets: inherit
